In [23]:
from google.colab import drive
drive.mount('/content.drive')

Drive already mounted at /content.drive; to attempt to forcibly remount, call drive.mount("/content.drive", force_remount=True).

In [24]:
import pandas as pd
import numpy as np

In [45]:
year = [2020]
month = [1,2]

#비어있는 데이터 프레임 만들기.
df = pd.DataFrame(columns = {'ID','Time','Distance','Count','Fault'})
df['Fault']=df['Fault'].fillna(0)
df

#모델만들기


for y in year:
    for m in month:
        user = pd.read_csv(f'C:/data/data{y}/data{y}_user/{y}_{m}.csv',index_col = 0)
        fault = pd.read_csv(f'C:/data/data{y}/data{y}_error/{y}_{m}.csv',index_col = 0)
        data = pd.merge(user,fault,on="ID", how="left")
        data["Count_y"] = data["Count_y"].fillna(0)
        data["Count_y"] = data["Count_y"].astype(int)
        data.columns = ['ID','Time','Distance','Count','Fault']
        data['Fault'] = np.where(data['Fault']>0,1,0)
        
        print(data.head())
        print(data['Fault'].unique())
        
        tmp = pd.merge(df,data,how='outer',on='ID')
        tmp = tmp.fillna(0)
        
        df['ID'] = tmp['ID']
        df['Time'] = tmp['Time_x'] + tmp['Time_y']
        df['Distance'] = tmp['Distance_x'] + tmp['Distance_y']
        df['Count'] = tmp['Count_x'] + tmp['Count_y']
        df['Fault'] = tmp['Fault_x'] + tmp['Fault_y']
        
        #데이터 학습
    

#         if df['Fault']==1:
#             valid_idx = df[df['Fault']==1].index
#             df.drop(valid_idx,axis=0,inplace=True)
        
        print(df['Fault'].unique())
        print("Complete")

# tmp = pd.merge(data,new_data,how='outer',on='ID')
# df['ID'] = tmp['ID']
# df['Time'] = tmp['Time_x'] + tmp['Time_y']
# df['Distance'] = tmp['Distance_x'] + tmp['Distance_y']
# df['Count'] = tmp['Count_x'] + tmp['Count_y']
# df

              ID  Count    Time  Distance
0      SPB-00025   34.0   723.0   91120.0
1      SPB-00036   74.0  1563.0  216230.0
2      SPB-00040   79.0  1532.0  230390.0
3      SPB-00043   80.0  1356.0  184880.0
4      SPB-00050  111.0  2449.0  284720.0
...          ...    ...     ...       ...
14682  SPB-30297    NaN     NaN       NaN
14683  SPB-30298    NaN     NaN       NaN
14684  SPB-30338    NaN     NaN       NaN
14685  SPB-30339    NaN     NaN       NaN
14686  SPB-30340    NaN     NaN       NaN

[14687 rows x 4 columns]